*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
 width: 320px;


}
nav{
    float: right;
    list-style: none;
    font-weight: bold;
    padding: 30px 40px
}



header{
    background-color: rgb(193, 202, 202);
    display: table;
    width: 100%;
    

}
body{
    font-family: 'Cabin', sans-serif;
    background-image: url(/img/banner-blockchain.jpg);
    background-repeat: no-repeat;  
    margin: 0;  
}

.registro{
    text-align: left;
}

.logo {
    width: 20%;
    padding: 10px;
    
}

.form-login{
    width: 400px;
    height: 340px;
    background-color: rgb(193, 202, 202);;
    margin-top: 50px;
    margin-left: 1300px;
    border-radius: 5%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 20px;
    color: rgb(17, 11, 70);
}
.form-login h5{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;

}
.form-login p{
    text-align: center;
}

.form-login p:hover{
    text-decoration: underline;
}
.control{
    width: 90%;
    margin-bottom: 15px;
    padding: 5px 3px;
    border-radius: 3px;
}

.button{
    width: 90%;
    padding: 5px 3px;
    background-color: rgb(88, 181, 218);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

