{% extends 'index.html' %}
{% block contenido %}
<div class="formulario">
    <form action="{{ url_for('registro') }}" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="grupo">
            {{ form.usuario.label }}
            {{ form.usuario(class="control") }}
        </div>
        <div class="grupo">
            {{ form.password.label }}
            {{ form.password(class="control") }}
        </div>
        <div class="grupo">
            {{ form.repassword.label }}
            {{ form.repassword(class="control") }}
        </div>
        <div class="grupo">
            {{ form.enviar(class="boton") }}
        </div>
        <div class="mensaje">
            {% if errores %}
            {{ errores }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}